*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primarycolor: rgb(9, 54, 97);
    --secondarycolor: rgb(206, 201, 201);
}

header{
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(9, 18, 46, 0.4), rgba(0,0,0,0.8)), url(imgs/header.jpg);
    background-position: center;
    background-size: cover;
}

header nav{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo h1{
    color: rgb(206, 201, 201);
    font-size: 35px;
    font-weight: 500;
}

.menu ul{
    list-style: none;
    margin-right: -200px;
}

.menu ul li{
    display: inline-block;
    margin-left: 45px;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(206, 201, 201);
    letter-spacing: 1px;
    transition: all .3s;
    font-size: 17px;
}

.menu ul li a:hover{
    color: var(--primarycolor);
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.right-nav i{
    font-size: 24px;
    color: #fff;
}

.right-nav a{
    text-decoration: none;
    color: rgb(206, 201, 201);
    letter-spacing: 1px;
}

.right-nav .listing{
    background-color: var(--primarycolor);
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 8px;
}

.content{
    width: 100%;
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    flex-wrap: wrap;
}

.content h3{
    color: var(--secondarycolor);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 22px;
}

.content h1{
    color: rgb(245, 243, 243);
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.content p{
    text-align: center;
    color: var(--secondarycolor);
    font-size: 17px;
    line-height: 24px;
}

.content .links{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.links button{
    background-color: var(--primarycolor);
    padding: 10px 20px;
    color: var(--secondarycolor);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.links i{
    font-size: 35px;
    color: var(--secondarycolor);
}

.links a{
    font-size: 20px;
    color: var(--secondarycolor);
}

.container{
    margin-top: 30px;
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    flex-wrap: wrap;
}

.container .sec{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    border-right: 1px solid rgba(0,0,0,0.3);
}

.sec:first-child{
    padding-left: 0;
}

.sec.last{
    border-right: none;
}

.srch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--primarycolor);
    color: #fff;
    cursor: pointer;
}

.srch i{
    margin-right: 5px;
    font-size: 25px;
}
.icon-title{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.icon-title h4{
    letter-spacing: 0.5px;
}

.icon-title i{
    font-size: 20px;
}

.sec p{
    margin-left: 32px;
    color: rgba(0,0,0,0.6);
}

.our-hotel{
    width: 100%;
    padding: 30px 10%;
}

.our-hotel h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

.our-hotel p{
    text-align: center;
    color: rgba(0,0,0,0.7);
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.row .qualities{
    min-width: 300px;
    flex-grow: 1;
    flex-basis: 24%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.qualities i{
    font-size: 36px;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primarycolor);
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.qualities h4{
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    font-size: 20px;
}

.qualities p{
    text-align: start;
}

.row-2{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.row-2 .hotels{
    min-width: 300px;
    flex-basis: 24%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
}

.hotels .img-box{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}

.hotels .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.name-rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0 15px;
}

.name-rate h4{
    color: rgb(36, 34, 34);
}

.rate p{
    display: flex;
    align-items: center;
    margin: auto 0;
    font-size: 20px;
    gap: 5px;
    color: rgb(36, 34, 34);
}

.rate p i{
    font-size: 22px;
    margin-top: -2px;
}

.hotels .location p{
    text-align: start;
    padding: 0 15px;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
}

.hotels .quality p{
    padding: 0 15px;
    text-align: start;
    color:  #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    font-size: 15px;
    font-weight: 600;
}

.hotels .quality p span{
    color: rgba(0,0,0,0.4);
}


.hotels .btn-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 20px;
}

.btn-price a{
    color: #fff;
    text-decoration: none;
    background-color: var(--primarycolor);
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all .3s;
}

.btn-price a:hover{
    background-color: transparent;
    color: #000;
    border: 1px solid var(--primarycolor);
}

.btn-price p{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #000;
    margin-top: 15px;
}

.btn-price p span{
    font-weight: 600;
    font-size: 22px;
}

/* ----------------------------------- pricing ------------------------------------ */

.pricing{
    width: 100%;
    padding: 30px 10%;
}

.pricing h1{
    text-align: center;
    text-transform: capitalize;
}

.pricing .pricing-table{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.pricing-table .pack{
    min-width: 400px;
    flex-basis: 32%;
    flex-grow: 1;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    /* background-color: yellow; */
}

.pack i{
    font-size: 30px;
    border: 2px solid var(--primarycolor);
    padding: 15px;
    border-radius: 50%;
    color: var(--primarycolor);
    margin-bottom: 20px;
}

.pack.p2{
    background-color: var(--primarycolor);
    color: white;
}

.pack.p2 i{
    background-color: white;
}

.pack h3{
    margin-bottom: 25px;
    font-size: 25px;
}

.pack .desc p{
    margin-bottom: 25px;
    font-size: 20px;
    color:rgba(0,0,0,0.7);
}

.pack.p2 .desc p{
    color: rgba(255,255,255,0.9);
}

.pack .price p{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.pack .price p span{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: rgba(0,0,0,0.6);
}

.pack.p2 .price p span{
    color: rgba(255,255,255,0.9);
}

.pack .price hr{
    color: rgba(0,0,0,0.6);
}

.pack.p2 .price hr{
    color: rgba(255,255,255,0.9);
}

.pack .specs{
    margin-top: 25px;
}

.pack .specs p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.pack button{
    width: 100%;
    height: 40px;
    margin-top: 25px;
    background-color: var(--primarycolor);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pack.p2 button{
    background-color: white;
    color: var(--primarycolor);

}

/* ----------------------------- faqs ----------------------------------- */

.faq{
    padding: 20px 10%;
}

.faq h1{
    text-align: center;
}

.faq .accordion{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.accordion li{
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.6);
}

.accordion li input[type='radio']{
    display: none;
}

.accordion li label{
    display: flex;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.8px;
    padding: 15px 0;
    position: relative;
}

.accordion li label i{
    position: absolute;
    right: 0;
    font-size: 25px;
    color: rgba(0,0,0,0.7);
}

.answer{
    color: rgba(0,0,0,0.7);
    text-align: start;
    max-height: 0;
    letter-spacing: 0.6px;
    line-height: 24px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.accordion input[type='radio']:checked + label + .answer{
    max-height: 300px;
    padding: 15px 0;

}

/* ---------------------------------- thoughts ------------------------------ */

.thoughts{
    padding: 15px 10%;
}

.thoughts h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.thoughts .reviews{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.reviews .review{
    margin-top: 30px;
    min-width: 300px;
    flex-basis: 30%;
    flex-grow: 1;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.review .upper-side{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.upper-side .img-carton{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;

}

.img-carton img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.upper-side .name-time{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}

.review p{
    color: rgba(0,0,0,0.7);
    margin-bottom: 20px;
    line-height: 25px;
}

.review .rating p{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    font-weight: 700;
}

.rating p i{
    font-size: 24px;
    color: gold;
}

/* ------------------------------ blog ------------------------------------ */

.our-blog{
    padding: 15px 10%;
}

.our-blog h1{
    text-align: center;
}

.our-blog p{
    text-align: center;
    margin-top: 20px;
    color: rgba(0,0,0,0.7);
    font-size: 19px;
}

.our-blog .blogs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.blogs .blog{
    min-width: 400px;
    flex-basis: 24%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
}

.blog .img-box{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.blog .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog .info{
    padding: 0 15px;
}

.blog .date-admin{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-admin .date p, .admin p{
    font-size: 17px;
    color: rgba(0,0,0,0.5);
}

.blog .h-title p{
    text-align: start;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
}

.blog .desc{
    padding: 0 0 15px ;
}

.blog .desc p{
    text-align: start;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
}

.blog hr{
    color: rgba(0,0,0,0.4);
    margin-bottom: 15px;
}

.info .read-more{
    padding: 0 0 15px;
}

.info .read-more a{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--primarycolor);
    font-weight: 600;
}

.info .read-more a i{
    font-weight: 700;
    font-size: 25px;
}

/* --------------------- footer ------------------------------------------------- */

.footer{
    width: 100%;
    padding: 20px 0;
    background-color: rgb(6, 6, 29);
    color: white;
}

.footer .news-letter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 10%;
}

.news-letter .left-letter h3{
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 22px;
}

.news-letter .left-letter p{
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
}

.news-letter .right-letter .srch-field{
    background-color: white;
    display: flex;
    align-items: center;
    width: 450px;
    border-radius: 24px;
}

.right-letter .srch-field input{
    flex-basis: 70%;
    border: none;
    outline: none;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    background: transparent;
}

.right-letter .srch-field button{
    flex-shrink: 28%;
    padding: 14px 27px;
    border: none;
    border-radius: 20px;
    background-color: var(--primarycolor);
    color: white;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    letter-spacing: 0.8px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0 10%;

}

.m-hotel h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
    text-decoration: underline;
}

.m-hotel p{
    letter-spacing: 0.5px;
    line-height: 24px;
}

.link-list{
    display: flex;
    align-items: center;
}

.link-list ul{
    margin-right: 90px;
}

.link-list ul li{
    list-style: none;
}

.link-list ul li:first-child{
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: rgba(255,255,255,0.8);

}

.link-list ul li{
    margin-bottom: 8px;
}

.link-list ul li a{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    text-transform: capitalize;
}

.contact-us h3{
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.8);
    font-weight: 400;
}

.contact-us p{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgba(255,255,255,0.8);
    letter-spacing: 0.7px;
}

.footer hr{
    color: rgba(255,255,255,0.2);
}

.copyrights{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10% 0; 
}

.copyrights .copyright{
    display: flex;
    align-items: center;
}

.copyright p{
    letter-spacing: 1px;
    color: rgba(255,255,255,0.8);
}

.copyrights .icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.copyrights .icons i{
    font-size: 24px;
}

